{% extends 'base.html' %}
{{ super() }}

{% block css %}
    <link type="text/css" href="{{ url_for('static', filename='css/article.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class='air air1'></div>
<div class='air air2'></div>
<div class='air air3'></div>
<div class='air air4'></div>

<div class="container_column">
    <div class="delete_container">
        <h1 style="color: black;">Введіть пароль</h1>
        <form method="post">
            <input type="password" name="password"class="password_input">
            <input type="submit" value="Підтвердити" class="button del_button" style="width: auto;">
        </form>
    </div>
</div>
<a href="/posts" class="button plus_button"><-</a>


{% endblock %}