{% extends 'base.html' %}
{{ super() }}

{% block css %}
    <link type="text/css" href="{{ url_for('static', filename='css/translator.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

<form method="post" class="adaptive_direction translator_form">
    <div class="container_column container_item">
        <select name="from_language"class="right_round">
            <option value="Afar" selected>Afar</option>
            <option value="Abkhazian" selected>Abkhazian</option>
            <option value="Avestan" selected>Avestan</option>
            <option value="Afrikaans" selected>Afrikaans</option>
            <option value="Akan" selected>Akan</option>
            <option value="Amharic" selected>Amharic</option>
            <option value="Aragonese" selected>Aragonese</option>
            <option value="Arabic" selected>Arabic</option>
            <option value="Assamese" selected>Assamese</option>
            <option value="Avaric" selected>Avaric</option>
            <option value="Aymara" selected>Aymara</option>
            <option value="Azerbaijani" selected>Azerbaijani</option>
            <option value="Bashkir" selected>Bashkir</option>
            <option value="Bulgarian" selected>Bulgarian</option>
            <option value="Bihari" selected>Bihari</option>
            <option value="Bislama" selected>Bislama</option>
            <option value="Bambara" selected>Bambara</option>
            <option value="Bengali" selected>Bengali</option>
            <option value="Tibetan" selected>Tibetan</option>
            <option value="Breton" selected>Breton</option>
            <option value="Bosnian" selected>Bosnian</option>
            <option value="Catalan" selected>Catalan</option>
            <option value="Chechen" selected>Chechen</option>
            <option value="Chamorro" selected>Chamorro</option>
            <option value="Corsican" selected>Corsican</option>
            <option value="Cree" selected>Cree</option>
            <option value="Czech" selected>Czech</option>
            <option value="Church Slavic" selected>Church Slavic</option>
            <option value="Chuvash" selected>Chuvash</option>
            <option value="Welsh" selected>Welsh</option>
            <option value="Danish" selected>Danish</option>
            <option value="German" selected>German</option>
            <option value="Divehi" selected>Divehi</option>
            <option value="Dzongkha" selected>Dzongkha</option>
            <option value="Ewe" selected>Ewe</option>
            <option value="Greek" selected>Greek</option>
            <option value="English" selected>English</option>
            <option value="Esperanto" selected>Esperanto</option>
            <option value="Spanis" selected>Spanis</option>
            <option value="Estonia" selected>Estonia</option>
            <option value="Basqu" selected>Basqu</option>
            <option value="Persian" selected>Persian</option>
            <option value="Fulah" selected>Fulah</option>
            <option value="Finnish" selected>Finnish</option>
            <option value="Fijian" selected>Fijian</option>
            <option value="Faroese" selected>Faroese</option>
            <option value="French" selected>French</option>
            <option value="Western Frisian" selected>Western Frisian</option>
            <option value="Irish" selected>Irish</option>
            <option value="Gaelic" selected>Gaelic</option>
            <option value="Galician" selected>Galician</option>
            <option value="Guaraní" selected>Guaraní</option>
            <option value="Gujarati" selected>Gujarati</option>
            <option value="Manx" selected>Manx</option>
            <option value="Hausa" selected>Hausa</option>
            <option value="Hebrew" selected>Hebrew</option>
            <option value="Hindi" selected>Hindi</option>
            <option value="Hiri Motu" selected>Hiri Motu</option>
            <option value="Croatian" selected>Croatian</option>
            <option value="Haitian" selected>Haitian</option>
            <option value="Hungarian" selected>Hungarian</option>
            <option value="Armenian" selected>Armenian</option>
            <option value="Herero" selected>Herero</option>
            <option value="Interlingua" selected>Interlingua</option>
            <option value="Indonesian" selected>Indonesian</option>
            <option value="Interlingue" selected>Interlingue</option>
            <option value="Igbo" selected>Igbo</option>
            <option value="Sichuan Yi" selected>Sichuan Yi</option>
            <option value="Inupiaq" selected>Inupiaq</option>
            <option value="Ido" selected>Ido</option>
            <option value="Icelandic" selected>Icelandic</option>
            <option value="Italian" selected>Italian</option>
            <option value="Inuktitut" selected>Inuktitut</option>
            <option value="Japanese" selected>Japanese</option>
            <option value="Javanese" selected>Javanese</option>
            <option value="Georgian" selected>Georgian</option>
            <option value="Kongo" selected>Kongo</option>
            <option value="Kikuyu" selected>Kikuyu</option>
            <option value="Kuanyama" selected>Kuanyama</option>
            <option value="Kazakh" selected>Kazakh</option>
            <option value="Kalaallisut" selected>Kalaallisut</option>
            <option value="Khmer" selected>Khmer</option>
            <option value="Kannada" selected>Kannada</option>
            <option value="Korean" selected>Korean</option>
            <option value="Kanuri" selected>Kanuri</option>
            <option value="Kashmiri" selected>Kashmiri</option>
            <option value="Kurdish" selected>Kurdish</option>
            <option value="Komi" selected>Komi</option>
            <option value="Cornish" selected>Cornish</option>
            <option value="Kirghiz" selected>Kirghiz</option>
            <option value="Latin" selected>Latin</option>
            <option value="Luxembourgish" selected>Luxembourgish</option>
            <option value="Ganda" selected>Ganda</option>
            <option value="Limburgish" selected>Limburgish</option>
            <option value="Lingala" selected>Lingala</option>
            <option value="Lao" selected>Lao</option>
            <option value="Lithuanian" selected>Lithuanian</option>
            <option value="Luba-Katanga" selected>Luba-Katanga</option>
            <option value="Latvian" selected>Latvian</option>
            <option value="Malagasy" selected>Malagasy</option>
            <option value="Marshallese" selected>Marshallese</option>
            <option value="Māori" selected>Māori</option>
            <option value="Macedonian" selected>Macedonian</option>
            <option value="Malayalam" selected>Malayalam</option>
            <option value="Mongolian" selected>Mongolian</option>
            <option value="Moldavian" selected>Moldavian</option>
            <option value="Marathi" selected>Marathi</option>
            <option value="Malay" selected>Malay</option>
            <option value="Maltese" selected>Maltese</option>
            <option value="Burmese" selected>Burmese</option>
            <option value="Nauru" selected>Nauru</option>
            <option value="Norwegian Bokmål" selected>Norwegian Bokmål</option>
            <option value="North Ndebele" selected>North Ndebele</option>
            <option value="Nepali" selected>Nepali</option>
            <option value="Ndonga" selected>Ndonga</option>
            <option value="Dutch" selected>Dutch</option>
            <option value="Norwegian Nynorsk" selected>Norwegian Nynorsk</option>
            <option value="Norwegian" selected>Norwegian</option>
            <option value="South Ndebele" selected>South Ndebele</option>
            <option value="Navajo" selected>Navajo</option>
            <option value="Chichewa" selected>Chichewa</option>
            <option value="Occitan" selected>Occitan</option>
            <option value="Ojibwa" selected>Ojibwa</option>
            <option value="Oromo" selected>Oromo</option>
            <option value="Oriya" selected>Oriya</option>
            <option value="Ossetian" selected>Ossetian</option>
            <option value="Panjabi" selected>Panjabi</option>
            <option value="Pāli" selected>Pāli</option>
            <option value="Polish" selected>Polish</option>
            <option value="Pashto" selected>Pashto</option>
            <option value="Portuguese" selected>Portuguese</option>
            <option value="Quechua" selected>Quechua</option>
            <option value="Raeto-Romance" selected>Raeto-Romance</option>
            <option value="Kirundi" selected>Kirundi</option>
            <option value="Romanian" selected>Romanian</option>
            <option value="Kinyarwanda" selected>Kinyarwanda</option>
            <option value="Sanskrit" selected>Sanskrit</option>
            <option value="Sardinian" selected>Sardinian</option>
            <option value="Sindhi" selected>Sindhi</option>
            <option value="Northern Sami" selected>Northern Sami</option>
            <option value="Sango" selected>Sango</option>
            <option value="Serbo-Croatian" selected>Serbo-Croatian</option>
            <option value="Sinhala" selected>Sinhala</option>
            <option value="Slovak" selected>Slovak</option>
            <option value="Slovenian" selected>Slovenian</option>
            <option value="Samoan" selected>Samoan</option>
            <option value="Shona" selected>Shona</option>
            <option value="Somali" selected>Somali</option>
            <option value="Albanian" selected>Albanian</option>
            <option value="Serbian" selected>Serbian</option>
            <option value="Swati" selected>Swati</option>
            <option value="Southern Sotho" selected>Southern Sotho</option>
            <option value="Sundanese" selected>Sundanese</option>
            <option value="Swedish" selected>Swedish</option>
            <option value="Swahili" selected>Swahili</option>
            <option value="Tamil" selected>Tamil</option>
            <option value="Telugu" selected>Telugu</option>
            <option value="Tajik" selected>Tajik</option>
            <option value="Thai" selected>Thai</option>
            <option value="Tigrinya" selected>Tigrinya</option>
            <option value="Turkmen" selected>Turkmen</option>
            <option value="Tagalog" selected>Tagalog</option>
            <option value="Tswana" selected>Tswana</option>
            <option value="Tonga" selected>Tonga</option>
            <option value="Turkish" selected>Turkish</option>
            <option value="Tsonga" selected>Tsonga</option>
            <option value="Tatar" selected>Tatar</option>
            <option value="Twi" selected>Twi</option>
            <option value="Tahitian" selected>Tahitian</option>
            <option value="Uighur" selected>Uighur</option>
            <option value="Ukrainian" selected>Ukrainian</option>
            <option value="Urdu" selected>Urdu</option>
            <option value="Uzbek" selected>Uzbek</option>
            <option value="Venda" selected>Venda</option>
            <option value="Vietnamese" selected>Vietnamese</option>
            <option value="Volapük" selected>Volapük</option>
            <option value="Walloon" selected>Walloon</option>
            <option value="Wolof" selected>Wolof</option>
            <option value="Xhosa" selected>Xhosa</option>
            <option value="Yiddish" selected>Yiddish</option>
            <option value="Yoruba" selected>Yoruba</option>
            <option value="Zhuang" selected>Zhuang</option>
            <option value="Chinese" selected>Chinese</option>
            <option value="Zulu" selected>Zulu</option>
        </select>
        <textarea name="text" class="text_input" placeholder="Введіть текст який ви хочете перекласти">{{input}}</textarea>
    </div>
    
    <div class="container_column container_item translator_buttons">
        <input type="submit" class="container_column_item button" value="">
    </div>

    <div class="container_column container_item">
        <select name="to_language"class="left_round">
            <option value="Afar" selected>Afar</option>
            <option value="Abkhazian" selected>Abkhazian</option>
            <option value="Avestan" selected>Avestan</option>
            <option value="Afrikaans" selected>Afrikaans</option>
            <option value="Akan" selected>Akan</option>
            <option value="Amharic" selected>Amharic</option>
            <option value="Aragonese" selected>Aragonese</option>
            <option value="Arabic" selected>Arabic</option>
            <option value="Assamese" selected>Assamese</option>
            <option value="Avaric" selected>Avaric</option>
            <option value="Aymara" selected>Aymara</option>
            <option value="Azerbaijani" selected>Azerbaijani</option>
            <option value="Bashkir" selected>Bashkir</option>
            <option value="Bulgarian" selected>Bulgarian</option>
            <option value="Bihari" selected>Bihari</option>
            <option value="Bislama" selected>Bislama</option>
            <option value="Bambara" selected>Bambara</option>
            <option value="Bengali" selected>Bengali</option>
            <option value="Tibetan" selected>Tibetan</option>
            <option value="Breton" selected>Breton</option>
            <option value="Bosnian" selected>Bosnian</option>
            <option value="Catalan" selected>Catalan</option>
            <option value="Chechen" selected>Chechen</option>
            <option value="Chamorro" selected>Chamorro</option>
            <option value="Corsican" selected>Corsican</option>
            <option value="Cree" selected>Cree</option>
            <option value="Czech" selected>Czech</option>
            <option value="Church Slavic" selected>Church Slavic</option>
            <option value="Chuvash" selected>Chuvash</option>
            <option value="Welsh" selected>Welsh</option>
            <option value="Danish" selected>Danish</option>
            <option value="German" selected>German</option>
            <option value="Divehi" selected>Divehi</option>
            <option value="Dzongkha" selected>Dzongkha</option>
            <option value="Ewe" selected>Ewe</option>
            <option value="Greek" selected>Greek</option>
            <option value="English" selected>English</option>
            <option value="Esperanto" selected>Esperanto</option>
            <option value="Spanis" selected>Spanis</option>
            <option value="Estonia" selected>Estonia</option>
            <option value="Basqu" selected>Basqu</option>
            <option value="Persian" selected>Persian</option>
            <option value="Fulah" selected>Fulah</option>
            <option value="Finnish" selected>Finnish</option>
            <option value="Fijian" selected>Fijian</option>
            <option value="Faroese" selected>Faroese</option>
            <option value="French" selected>French</option>
            <option value="Western Frisian" selected>Western Frisian</option>
            <option value="Irish" selected>Irish</option>
            <option value="Gaelic" selected>Gaelic</option>
            <option value="Galician" selected>Galician</option>
            <option value="Guaraní" selected>Guaraní</option>
            <option value="Gujarati" selected>Gujarati</option>
            <option value="Manx" selected>Manx</option>
            <option value="Hausa" selected>Hausa</option>
            <option value="Hebrew" selected>Hebrew</option>
            <option value="Hindi" selected>Hindi</option>
            <option value="Hiri Motu" selected>Hiri Motu</option>
            <option value="Croatian" selected>Croatian</option>
            <option value="Haitian" selected>Haitian</option>
            <option value="Hungarian" selected>Hungarian</option>
            <option value="Armenian" selected>Armenian</option>
            <option value="Herero" selected>Herero</option>
            <option value="Interlingua" selected>Interlingua</option>
            <option value="Indonesian" selected>Indonesian</option>
            <option value="Interlingue" selected>Interlingue</option>
            <option value="Igbo" selected>Igbo</option>
            <option value="Sichuan Yi" selected>Sichuan Yi</option>
            <option value="Inupiaq" selected>Inupiaq</option>
            <option value="Ido" selected>Ido</option>
            <option value="Icelandic" selected>Icelandic</option>
            <option value="Italian" selected>Italian</option>
            <option value="Inuktitut" selected>Inuktitut</option>
            <option value="Japanese" selected>Japanese</option>
            <option value="Javanese" selected>Javanese</option>
            <option value="Georgian" selected>Georgian</option>
            <option value="Kongo" selected>Kongo</option>
            <option value="Kikuyu" selected>Kikuyu</option>
            <option value="Kuanyama" selected>Kuanyama</option>
            <option value="Kazakh" selected>Kazakh</option>
            <option value="Kalaallisut" selected>Kalaallisut</option>
            <option value="Khmer" selected>Khmer</option>
            <option value="Kannada" selected>Kannada</option>
            <option value="Korean" selected>Korean</option>
            <option value="Kanuri" selected>Kanuri</option>
            <option value="Kashmiri" selected>Kashmiri</option>
            <option value="Kurdish" selected>Kurdish</option>
            <option value="Komi" selected>Komi</option>
            <option value="Cornish" selected>Cornish</option>
            <option value="Kirghiz" selected>Kirghiz</option>
            <option value="Latin" selected>Latin</option>
            <option value="Luxembourgish" selected>Luxembourgish</option>
            <option value="Ganda" selected>Ganda</option>
            <option value="Limburgish" selected>Limburgish</option>
            <option value="Lingala" selected>Lingala</option>
            <option value="Lao" selected>Lao</option>
            <option value="Lithuanian" selected>Lithuanian</option>
            <option value="Luba-Katanga" selected>Luba-Katanga</option>
            <option value="Latvian" selected>Latvian</option>
            <option value="Malagasy" selected>Malagasy</option>
            <option value="Marshallese" selected>Marshallese</option>
            <option value="Māori" selected>Māori</option>
            <option value="Macedonian" selected>Macedonian</option>
            <option value="Malayalam" selected>Malayalam</option>
            <option value="Mongolian" selected>Mongolian</option>
            <option value="Moldavian" selected>Moldavian</option>
            <option value="Marathi" selected>Marathi</option>
            <option value="Malay" selected>Malay</option>
            <option value="Maltese" selected>Maltese</option>
            <option value="Burmese" selected>Burmese</option>
            <option value="Nauru" selected>Nauru</option>
            <option value="Norwegian Bokmål" selected>Norwegian Bokmål</option>
            <option value="North Ndebele" selected>North Ndebele</option>
            <option value="Nepali" selected>Nepali</option>
            <option value="Ndonga" selected>Ndonga</option>
            <option value="Dutch" selected>Dutch</option>
            <option value="Norwegian Nynorsk" selected>Norwegian Nynorsk</option>
            <option value="Norwegian" selected>Norwegian</option>
            <option value="South Ndebele" selected>South Ndebele</option>
            <option value="Navajo" selected>Navajo</option>
            <option value="Chichewa" selected>Chichewa</option>
            <option value="Occitan" selected>Occitan</option>
            <option value="Ojibwa" selected>Ojibwa</option>
            <option value="Oromo" selected>Oromo</option>
            <option value="Oriya" selected>Oriya</option>
            <option value="Ossetian" selected>Ossetian</option>
            <option value="Panjabi" selected>Panjabi</option>
            <option value="Pāli" selected>Pāli</option>
            <option value="Polish" selected>Polish</option>
            <option value="Pashto" selected>Pashto</option>
            <option value="Portuguese" selected>Portuguese</option>
            <option value="Quechua" selected>Quechua</option>
            <option value="Raeto-Romance" selected>Raeto-Romance</option>
            <option value="Kirundi" selected>Kirundi</option>
            <option value="Romanian" selected>Romanian</option>
            <option value="Kinyarwanda" selected>Kinyarwanda</option>
            <option value="Sanskrit" selected>Sanskrit</option>
            <option value="Sardinian" selected>Sardinian</option>
            <option value="Sindhi" selected>Sindhi</option>
            <option value="Northern Sami" selected>Northern Sami</option>
            <option value="Sango" selected>Sango</option>
            <option value="Serbo-Croatian" selected>Serbo-Croatian</option>
            <option value="Sinhala" selected>Sinhala</option>
            <option value="Slovak" selected>Slovak</option>
            <option value="Slovenian" selected>Slovenian</option>
            <option value="Samoan" selected>Samoan</option>
            <option value="Shona" selected>Shona</option>
            <option value="Somali" selected>Somali</option>
            <option value="Albanian" selected>Albanian</option>
            <option value="Serbian" selected>Serbian</option>
            <option value="Swati" selected>Swati</option>
            <option value="Southern Sotho" selected>Southern Sotho</option>
            <option value="Sundanese" selected>Sundanese</option>
            <option value="Swedish" selected>Swedish</option>
            <option value="Swahili" selected>Swahili</option>
            <option value="Tamil" selected>Tamil</option>
            <option value="Telugu" selected>Telugu</option>
            <option value="Tajik" selected>Tajik</option>
            <option value="Thai" selected>Thai</option>
            <option value="Tigrinya" selected>Tigrinya</option>
            <option value="Turkmen" selected>Turkmen</option>
            <option value="Tagalog" selected>Tagalog</option>
            <option value="Tswana" selected>Tswana</option>
            <option value="Tonga" selected>Tonga</option>
            <option value="Turkish" selected>Turkish</option>
            <option value="Tsonga" selected>Tsonga</option>
            <option value="Tatar" selected>Tatar</option>
            <option value="Twi" selected>Twi</option>
            <option value="Tahitian" selected>Tahitian</option>
            <option value="Uighur" selected>Uighur</option>
            <option value="Ukrainian" selected>Ukrainian</option>
            <option value="Urdu" selected>Urdu</option>
            <option value="Uzbek" selected>Uzbek</option>
            <option value="Venda" selected>Venda</option>
            <option value="Vietnamese" selected>Vietnamese</option>
            <option value="Volapük" selected>Volapük</option>
            <option value="Walloon" selected>Walloon</option>
            <option value="Wolof" selected>Wolof</option>
            <option value="Xhosa" selected>Xhosa</option>
            <option value="Yiddish" selected>Yiddish</option>
            <option value="Yoruba" selected>Yoruba</option>
            <option value="Zhuang" selected>Zhuang</option>
            <option value="Chinese" selected>Chinese</option>
            <option value="Zulu" selected>Zulu</option>
        </select>
        <textarea name="output" class="text_ouput" readonly>{{output}}</textarea>
    </div>
</form>

{% endblock %}