<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename='css/header.css')}}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
  <script src="https://kit.fontawesome.com/9c1c28228e.js" crossorigin="anonymous"></script>

  {% block css %} {% endblock %}
</head>
<body>
  <div class="container">

  <section class="top-nav">

    <div>
      <a href="/" class="logo">WeatherCurrency</a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
    </label>
    <ul class="menu">
      <li><a href="/translator">Перекладач</a></li>
      <li><a href="/weather">Погода</a></li>
      <li><a href="/currency">Конвертор валют</a></li>
      <li><a href="/posts">Статті</a></li>
      <li><a href="/about">Про нас</a></li>
    </ul>
  </section>

  {% block body %} {% endblock %}
  </div>
</body>