{% extends 'base.html' %}
{{ super() }}

{% block css %}
    <link type="text/css" href="{{ url_for('static', filename='css/translator.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

<div id="bg">
    <canvas></canvas>
    <canvas></canvas>
    <canvas></canvas>
</div>

<form method="post" class="adaptive_direction translator_form" id="translator_form">
    <div class="container_column">
        <select name="from_language">
            <option value="Afar">Afar</option>
            <option value="Abkhazian">Abkhazian</option>
            <option value="Avestan">Avestan</option>
            <option value="Afrikaans">Afrikaans</option>
            <option value="Akan">Akan</option>
            <option value="Amharic">Amharic</option>
            <option value="Aragonese">Aragonese</option>
            <option value="Arabic">Arabic</option>
            <option value="Assamese">Assamese</option>
            <option value="Avaric">Avaric</option>
            <option value="Aymara">Aymara</option>
            <option value="Azerbaijani">Azerbaijani</option>
            <option value="Bashkir">Bashkir</option>
            <option value="Bulgarian">Bulgarian</option>
            <option value="Bihari">Bihari</option>
            <option value="Bislama">Bislama</option>
            <option value="Bambara">Bambara</option>
            <option value="Bengali">Bengali</option>
            <option value="Tibetan">Tibetan</option>
            <option value="Breton">Breton</option>
            <option value="Bosnian">Bosnian</option>
            <option value="Catalan">Catalan</option>
            <option value="Chechen">Chechen</option>
            <option value="Chamorro">Chamorro</option>
            <option value="Corsican">Corsican</option>
            <option value="Cree">Cree</option>
            <option value="Czech">Czech</option>
            <option value="Church Slavic">Church Slavic</option>
            <option value="Chuvash">Chuvash</option>
            <option value="Welsh">Welsh</option>
            <option value="Danish">Danish</option>
            <option value="German">German</option>
            <option value="Divehi">Divehi</option>
            <option value="Dzongkha">Dzongkha</option>
            <option value="Ewe">Ewe</option>
            <option value="Greek">Greek</option>
            <option value="English">English</option>
            <option value="Esperanto">Esperanto</option>
            <option value="Spanis">Spanis</option>
            <option value="Estonia">Estonia</option>
            <option value="Basqu">Basqu</option>
            <option value="Persian">Persian</option>
            <option value="Fulah">Fulah</option>
            <option value="Finnish">Finnish</option>
            <option value="Fijian">Fijian</option>
            <option value="Faroese">Faroese</option>
            <option value="French">French</option>
            <option value="Western Frisian">Western Frisian</option>
            <option value="Irish">Irish</option>
            <option value="Gaelic">Gaelic</option>
            <option value="Galician">Galician</option>
            <option value="Guaraní">Guaraní</option>
            <option value="Gujarati">Gujarati</option>
            <option value="Manx">Manx</option>
            <option value="Hausa">Hausa</option>
            <option value="Hebrew">Hebrew</option>
            <option value="Hindi">Hindi</option>
            <option value="Hiri Motu">Hiri Motu</option>
            <option value="Croatian">Croatian</option>
            <option value="Haitian">Haitian</option>
            <option value="Hungarian">Hungarian</option>
            <option value="Armenian">Armenian</option>
            <option value="Herero">Herero</option>
            <option value="Interlingua">Interlingua</option>
            <option value="Indonesian">Indonesian</option>
            <option value="Interlingue">Interlingue</option>
            <option value="Igbo">Igbo</option>
            <option value="Sichuan Yi">Sichuan Yi</option>
            <option value="Inupiaq">Inupiaq</option>
            <option value="Ido">Ido</option>
            <option value="Icelandic">Icelandic</option>
            <option value="Italian">Italian</option>
            <option value="Inuktitut">Inuktitut</option>
            <option value="Japanese">Japanese</option>
            <option value="Javanese">Javanese</option>
            <option value="Georgian">Georgian</option>
            <option value="Kongo">Kongo</option>
            <option value="Kikuyu">Kikuyu</option>
            <option value="Kuanyama">Kuanyama</option>
            <option value="Kazakh">Kazakh</option>
            <option value="Kalaallisut">Kalaallisut</option>
            <option value="Khmer">Khmer</option>
            <option value="Kannada">Kannada</option>
            <option value="Korean">Korean</option>
            <option value="Kanuri">Kanuri</option>
            <option value="Kashmiri">Kashmiri</option>
            <option value="Kurdish">Kurdish</option>
            <option value="Komi">Komi</option>
            <option value="Cornish">Cornish</option>
            <option value="Kirghiz">Kirghiz</option>
            <option value="Latin">Latin</option>
            <option value="Luxembourgish">Luxembourgish</option>
            <option value="Ganda">Ganda</option>
            <option value="Limburgish">Limburgish</option>
            <option value="Lingala">Lingala</option>
            <option value="Lao">Lao</option>
            <option value="Lithuanian">Lithuanian</option>
            <option value="Luba-Katanga">Luba-Katanga</option>
            <option value="Latvian">Latvian</option>
            <option value="Malagasy">Malagasy</option>
            <option value="Marshallese">Marshallese</option>
            <option value="Māori">Māori</option>
            <option value="Macedonian">Macedonian</option>
            <option value="Malayalam">Malayalam</option>
            <option value="Mongolian">Mongolian</option>
            <option value="Moldavian">Moldavian</option>
            <option value="Marathi">Marathi</option>
            <option value="Malay">Malay</option>
            <option value="Maltese">Maltese</option>
            <option value="Burmese">Burmese</option>
            <option value="Nauru">Nauru</option>
            <option value="Norwegian Bokmål">Norwegian Bokmål</option>
            <option value="North Ndebele">North Ndebele</option>
            <option value="Nepali">Nepali</option>
            <option value="Ndonga">Ndonga</option>
            <option value="Dutch">Dutch</option>
            <option value="Norwegian Nynorsk">Norwegian Nynorsk</option>
            <option value="Norwegian">Norwegian</option>
            <option value="South Ndebele">South Ndebele</option>
            <option value="Navajo">Navajo</option>
            <option value="Chichewa">Chichewa</option>
            <option value="Occitan">Occitan</option>
            <option value="Ojibwa">Ojibwa</option>
            <option value="Oromo">Oromo</option>
            <option value="Oriya">Oriya</option>
            <option value="Ossetian">Ossetian</option>
            <option value="Panjabi">Panjabi</option>
            <option value="Pāli">Pāli</option>
            <option value="Polish">Polish</option>
            <option value="Pashto">Pashto</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Quechua">Quechua</option>
            <option value="Raeto-Romance">Raeto-Romance</option>
            <option value="Kirundi">Kirundi</option>
            <option value="Romanian">Romanian</option>
            <option value="Kinyarwanda">Kinyarwanda</option>
            <option value="Sanskrit">Sanskrit</option>
            <option value="Sardinian">Sardinian</option>
            <option value="Sindhi">Sindhi</option>
            <option value="Northern Sami">Northern Sami</option>
            <option value="Sango">Sango</option>
            <option value="Serbo-Croatian">Serbo-Croatian</option>
            <option value="Sinhala">Sinhala</option>
            <option value="Slovak">Slovak</option>
            <option value="Slovenian">Slovenian</option>
            <option value="Samoan">Samoan</option>
            <option value="Shona">Shona</option>
            <option value="Somali">Somali</option>
            <option value="Albanian">Albanian</option>
            <option value="Serbian">Serbian</option>
            <option value="Swati">Swati</option>
            <option value="Southern Sotho">Southern Sotho</option>
            <option value="Sundanese">Sundanese</option>
            <option value="Swedish">Swedish</option>
            <option value="Swahili">Swahili</option>
            <option value="Tamil">Tamil</option>
            <option value="Telugu">Telugu</option>
            <option value="Tajik">Tajik</option>
            <option value="Thai">Thai</option>
            <option value="Tigrinya">Tigrinya</option>
            <option value="Turkmen">Turkmen</option>
            <option value="Tagalog">Tagalog</option>
            <option value="Tswana">Tswana</option>
            <option value="Tonga">Tonga</option>
            <option value="Turkish">Turkish</option>
            <option value="Tsonga">Tsonga</option>
            <option value="Tatar">Tatar</option>
            <option value="Twi">Twi</option>
            <option value="Tahitian">Tahitian</option>
            <option value="Uighur">Uighur</option>
            <option value="Ukrainian" selected>Ukrainian</option>
            <option value="Urdu">Urdu</option>
            <option value="Uzbek">Uzbek</option>
            <option value="Venda">Venda</option>
            <option value="Vietnamese">Vietnamese</option>
            <option value="Volapük">Volapük</option>
            <option value="Walloon">Walloon</option>
            <option value="Wolof">Wolof</option>
            <option value="Xhosa">Xhosa</option>
            <option value="Yiddish">Yiddish</option>
            <option value="Yoruba">Yoruba</option>
            <option value="Zhuang">Zhuang</option>
            <option value="Chinese">Chinese</option>
            <option value="Zulu">Zulu</option>
        </select>
        <textarea class="filed" name="text" placeholder="Введіть текст який ви хочете перекласти">{{input}}</textarea>
    </div>
    
    <input type="submit" class="button" value="->">

    <div class="container_column filed">
        <select name="to_language">
            <option value="Afar">Afar</option>
            <option value="Abkhazian">Abkhazian</option>
            <option value="Avestan">Avestan</option>
            <option value="Afrikaans">Afrikaans</option>
            <option value="Akan">Akan</option>
            <option value="Amharic">Amharic</option>
            <option value="Aragonese">Aragonese</option>
            <option value="Arabic">Arabic</option>
            <option value="Assamese">Assamese</option>
            <option value="Avaric">Avaric</option>
            <option value="Aymara">Aymara</option>
            <option value="Azerbaijani">Azerbaijani</option>
            <option value="Bashkir">Bashkir</option>
            <option value="Bulgarian">Bulgarian</option>
            <option value="Bihari">Bihari</option>
            <option value="Bislama">Bislama</option>
            <option value="Bambara">Bambara</option>
            <option value="Bengali">Bengali</option>
            <option value="Tibetan">Tibetan</option>
            <option value="Breton">Breton</option>
            <option value="Bosnian">Bosnian</option>
            <option value="Catalan">Catalan</option>
            <option value="Chechen">Chechen</option>
            <option value="Chamorro">Chamorro</option>
            <option value="Corsican">Corsican</option>
            <option value="Cree">Cree</option>
            <option value="Czech">Czech</option>
            <option value="Church Slavic">Church Slavic</option>
            <option value="Chuvash">Chuvash</option>
            <option value="Welsh">Welsh</option>
            <option value="Danish">Danish</option>
            <option value="German">German</option>
            <option value="Divehi">Divehi</option>
            <option value="Dzongkha">Dzongkha</option>
            <option value="Ewe">Ewe</option>
            <option value="Greek">Greek</option>
            <option value="English" selected>English</option>
            <option value="Esperanto">Esperanto</option>
            <option value="Spanis">Spanis</option>
            <option value="Estonia">Estonia</option>
            <option value="Basqu">Basqu</option>
            <option value="Persian">Persian</option>
            <option value="Fulah">Fulah</option>
            <option value="Finnish">Finnish</option>
            <option value="Fijian">Fijian</option>
            <option value="Faroese">Faroese</option>
            <option value="French">French</option>
            <option value="Western Frisian">Western Frisian</option>
            <option value="Irish">Irish</option>
            <option value="Gaelic">Gaelic</option>
            <option value="Galician">Galician</option>
            <option value="Guaraní">Guaraní</option>
            <option value="Gujarati">Gujarati</option>
            <option value="Manx">Manx</option>
            <option value="Hausa">Hausa</option>
            <option value="Hebrew">Hebrew</option>
            <option value="Hindi">Hindi</option>
            <option value="Hiri Motu">Hiri Motu</option>
            <option value="Croatian">Croatian</option>
            <option value="Haitian">Haitian</option>
            <option value="Hungarian">Hungarian</option>
            <option value="Armenian">Armenian</option>
            <option value="Herero">Herero</option>
            <option value="Interlingua">Interlingua</option>
            <option value="Indonesian">Indonesian</option>
            <option value="Interlingue">Interlingue</option>
            <option value="Igbo">Igbo</option>
            <option value="Sichuan Yi">Sichuan Yi</option>
            <option value="Inupiaq">Inupiaq</option>
            <option value="Ido">Ido</option>
            <option value="Icelandic">Icelandic</option>
            <option value="Italian">Italian</option>
            <option value="Inuktitut">Inuktitut</option>
            <option value="Japanese">Japanese</option>
            <option value="Javanese">Javanese</option>
            <option value="Georgian">Georgian</option>
            <option value="Kongo">Kongo</option>
            <option value="Kikuyu">Kikuyu</option>
            <option value="Kuanyama">Kuanyama</option>
            <option value="Kazakh">Kazakh</option>
            <option value="Kalaallisut">Kalaallisut</option>
            <option value="Khmer">Khmer</option>
            <option value="Kannada">Kannada</option>
            <option value="Korean">Korean</option>
            <option value="Kanuri">Kanuri</option>
            <option value="Kashmiri">Kashmiri</option>
            <option value="Kurdish">Kurdish</option>
            <option value="Komi">Komi</option>
            <option value="Cornish">Cornish</option>
            <option value="Kirghiz">Kirghiz</option>
            <option value="Latin">Latin</option>
            <option value="Luxembourgish">Luxembourgish</option>
            <option value="Ganda">Ganda</option>
            <option value="Limburgish">Limburgish</option>
            <option value="Lingala">Lingala</option>
            <option value="Lao">Lao</option>
            <option value="Lithuanian">Lithuanian</option>
            <option value="Luba-Katanga">Luba-Katanga</option>
            <option value="Latvian">Latvian</option>
            <option value="Malagasy">Malagasy</option>
            <option value="Marshallese">Marshallese</option>
            <option value="Māori">Māori</option>
            <option value="Macedonian">Macedonian</option>
            <option value="Malayalam">Malayalam</option>
            <option value="Mongolian">Mongolian</option>
            <option value="Moldavian">Moldavian</option>
            <option value="Marathi">Marathi</option>
            <option value="Malay">Malay</option>
            <option value="Maltese">Maltese</option>
            <option value="Burmese">Burmese</option>
            <option value="Nauru">Nauru</option>
            <option value="Norwegian Bokmål">Norwegian Bokmål</option>
            <option value="North Ndebele">North Ndebele</option>
            <option value="Nepali">Nepali</option>
            <option value="Ndonga">Ndonga</option>
            <option value="Dutch">Dutch</option>
            <option value="Norwegian Nynorsk">Norwegian Nynorsk</option>
            <option value="Norwegian">Norwegian</option>
            <option value="South Ndebele">South Ndebele</option>
            <option value="Navajo">Navajo</option>
            <option value="Chichewa">Chichewa</option>
            <option value="Occitan">Occitan</option>
            <option value="Ojibwa">Ojibwa</option>
            <option value="Oromo">Oromo</option>
            <option value="Oriya">Oriya</option>
            <option value="Ossetian">Ossetian</option>
            <option value="Panjabi">Panjabi</option>
            <option value="Pāli">Pāli</option>
            <option value="Polish">Polish</option>
            <option value="Pashto">Pashto</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Quechua">Quechua</option>
            <option value="Raeto-Romance">Raeto-Romance</option>
            <option value="Kirundi">Kirundi</option>
            <option value="Romanian">Romanian</option>
            <option value="Kinyarwanda">Kinyarwanda</option>
            <option value="Sanskrit">Sanskrit</option>
            <option value="Sardinian">Sardinian</option>
            <option value="Sindhi">Sindhi</option>
            <option value="Northern Sami">Northern Sami</option>
            <option value="Sango">Sango</option>
            <option value="Serbo-Croatian">Serbo-Croatian</option>
            <option value="Sinhala">Sinhala</option>
            <option value="Slovak">Slovak</option>
            <option value="Slovenian">Slovenian</option>
            <option value="Samoan">Samoan</option>
            <option value="Shona">Shona</option>
            <option value="Somali">Somali</option>
            <option value="Albanian">Albanian</option>
            <option value="Serbian">Serbian</option>
            <option value="Swati">Swati</option>
            <option value="Southern Sotho">Southern Sotho</option>
            <option value="Sundanese">Sundanese</option>
            <option value="Swedish">Swedish</option>
            <option value="Swahili">Swahili</option>
            <option value="Tamil">Tamil</option>
            <option value="Telugu">Telugu</option>
            <option value="Tajik">Tajik</option>
            <option value="Thai">Thai</option>
            <option value="Tigrinya">Tigrinya</option>
            <option value="Turkmen">Turkmen</option>
            <option value="Tagalog">Tagalog</option>
            <option value="Tswana">Tswana</option>
            <option value="Tonga">Tonga</option>
            <option value="Turkish">Turkish</option>
            <option value="Tsonga">Tsonga</option>
            <option value="Tatar">Tatar</option>
            <option value="Twi">Twi</option>
            <option value="Tahitian">Tahitian</option>
            <option value="Uighur">Uighur</option>
            <option value="Ukrainian">Ukrainian</option>
            <option value="Urdu">Urdu</option>
            <option value="Uzbek">Uzbek</option>
            <option value="Venda">Venda</option>
            <option value="Vietnamese">Vietnamese</option>
            <option value="Volapük">Volapük</option>
            <option value="Walloon">Walloon</option>
            <option value="Wolof">Wolof</option>
            <option value="Xhosa">Xhosa</option>
            <option value="Yiddish">Yiddish</option>
            <option value="Yoruba">Yoruba</option>
            <option value="Zhuang">Zhuang</option>
            <option value="Chinese">Chinese</option>
            <option value="Zulu">Zulu</option>
        </select>
        <textarea id="result" readonly>{{output}}</textarea>
    </div>
</form>

<script>
    (function($){
        var canvas = $('#bg').children('canvas'),
          background = canvas[0],
          foreground1 = canvas[1],
          foreground2 = canvas[2],
          config = {
            circle: {
              amount: 18,
              layer: 3,
              color: [157, 97, 207],
              alpha: 0.3
            },
            line: {
              amount: 12,
              layer: 3,
              color: [255, 255, 255],
              alpha: 0.3
            },
            speed: 0.5,
            angle: 20
          };
      
        if (background.getContext){
          var bctx = background.getContext('2d'),
            fctx1 = foreground1.getContext('2d'),
            fctx2 = foreground2.getContext('2d'),
            M = window.Math, // Cached Math
            degree = config.angle/360*M.PI*2,
            circles = [],
            lines = [],
            wWidth, wHeight, timer;
          
          requestAnimationFrame = window.requestAnimationFrame || 
            window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            function(callback, element) { setTimeout(callback, 1000 / 60); };
      
          cancelAnimationFrame = window.cancelAnimationFrame ||
            window.mozCancelAnimationFrame ||
            window.webkitCancelAnimationFrame ||
            window.msCancelAnimationFrame ||
            window.oCancelAnimationFrame ||
            clearTimeout;
      
          var setCanvasHeight = function(){
            wWidth = $(window).width();
            wHeight = $(window).height(),
      
            canvas.each(function(){
              this.width = wWidth;
              this.height = wHeight;
            });
          };
      
          var drawCircle = function(x, y, radius, color, alpha){
            var gradient = fctx1.createRadialGradient(x, y, radius, x, y, 0);
            gradient.addColorStop(0, 'rgba('+color[0]+','+color[1]+','+color[2]+','+alpha+')');
            gradient.addColorStop(1, 'rgba('+color[0]+','+color[1]+','+color[2]+','+(alpha-0.1)+')');
      
            fctx1.beginPath();
            fctx1.arc(x, y, radius, 0, M.PI*2, true);
            fctx1.fillStyle = gradient;
            fctx1.fill();
          };
      
          var drawLine = function(x, y, width, color, alpha){
            var endX = x+M.sin(degree)*width,
              endY = y-M.cos(degree)*width,
              gradient = fctx2.createLinearGradient(x, y, endX, endY);
            gradient.addColorStop(0, 'rgba('+color[0]+','+color[1]+','+color[2]+','+alpha+')');
            gradient.addColorStop(1, 'rgba('+color[0]+','+color[1]+','+color[2]+','+(alpha-0.1)+')');
      
            fctx2.beginPath();
            fctx2.moveTo(x, y);
            fctx2.lineTo(endX, endY);
            fctx2.lineWidth = 3;
            fctx2.lineCap = 'round';
            fctx2.strokeStyle = gradient;
            fctx2.stroke();
          };
      
          var drawBack = function(){
            bctx.clearRect(0, 0, wWidth, wHeight);
      
            var gradient = [];
            
            gradient[0] = bctx.createRadialGradient(wWidth*0.3, wHeight*0.1, 0, wWidth*0.3, wHeight*0.1, wWidth*0.9);
            gradient[0].addColorStop(0, 'rgb(0, 26, 77)');
            gradient[0].addColorStop(1, 'transparent');
      
            bctx.translate(wWidth, 0);
            bctx.scale(-1,1);
            bctx.beginPath();
            bctx.fillStyle = gradient[0];
            bctx.fillRect(0, 0, wWidth, wHeight);
      
            gradient[1] = bctx.createRadialGradient(wWidth*0.1, wHeight*0.1, 0, wWidth*0.3, wHeight*0.1, wWidth);
            gradient[1].addColorStop(0, 'rgb(0, 150, 240)');
            gradient[1].addColorStop(0.8, 'transparent');
      
            bctx.translate(wWidth, 0);
            bctx.scale(-1,1);
            bctx.beginPath();
            bctx.fillStyle = gradient[1];
            bctx.fillRect(0, 0, wWidth, wHeight);
      
            gradient[2] = bctx.createRadialGradient(wWidth*0.1, wHeight*0.5, 0, wWidth*0.1, wHeight*0.5, wWidth*0.5);
            gradient[2].addColorStop(0, 'rgb(40, 20, 105)');
            gradient[2].addColorStop(1, 'transparent');
      
            bctx.beginPath();
            bctx.fillStyle = gradient[2];
            bctx.fillRect(0, 0, wWidth, wHeight);
          };
      
          var animate = function(){
            var sin = M.sin(degree),
              cos = M.cos(degree);
      
            if (config.circle.amount > 0 && config.circle.layer > 0){
              fctx1.clearRect(0, 0, wWidth, wHeight);
              for (var i=0, len = circles.length; i<len; i++){
                var item = circles[i],
                  x = item.x,
                  y = item.y,
                  radius = item.radius,
                  speed = item.speed;
      
                if (x > wWidth + radius){
                  x = -radius;
                } else if (x < -radius){
                  x = wWidth + radius
                } else {
                  x += sin*speed;
                }
      
                if (y > wHeight + radius){
                  y = -radius;
                } else if (y < -radius){
                  y = wHeight + radius;
                } else {
                  y -= cos*speed;
                }
      
                item.x = x;
                item.y = y;
                drawCircle(x, y, radius, item.color, item.alpha);
              }
            }
      
            if (config.line.amount > 0 && config.line.layer > 0){
              fctx2.clearRect(0, 0, wWidth, wHeight);
              for (var j=0, len = lines.length; j<len; j++){
                var item = lines[j],
                  x = item.x,
                  y = item.y,
                  width = item.width,
                  speed = item.speed;
      
                if (x > wWidth + width * sin){
                  x = -width * sin;
                } else if (x < -width * sin){
                  x = wWidth + width * sin;
                } else {
                  x += sin*speed;
                }
      
                if (y > wHeight + width * cos){
                  y = -width * cos;
                } else if (y < -width * cos){
                  y = wHeight + width * cos;
                } else {
                  y -= cos*speed;
                }
                
                item.x = x;
                item.y = y;
                drawLine(x, y, width, item.color, item.alpha);
              }
            }
      
            timer = requestAnimationFrame(animate);
          };
      
          var createItem = function(){
            circles = [];
            lines = [];
      
            if (config.circle.amount > 0 && config.circle.layer > 0){
              for (var i=0; i<config.circle.amount/config.circle.layer; i++){
                for (var j=0; j<config.circle.layer; j++){
                  circles.push({
                    x: M.random() * wWidth,
                    y: M.random() * wHeight,
                    radius: M.random()*(20+j*5)+(20+j*5),
                    color: config.circle.color,
                    alpha: M.random()*0.2+(config.circle.alpha-j*0.1),
                    speed: config.speed*(1+j*0.5)
                  });
                }
              }
            }
      
            if (config.line.amount > 0 && config.line.layer > 0){
              for (var m=0; m<config.line.amount/config.line.layer; m++){
                for (var n=0; n<config.line.layer; n++){
                  lines.push({
                    x: M.random() * wWidth,
                    y: M.random() * wHeight,
                    width: M.random()*(20+n*5)+(20+n*5),
                    color: config.line.color,
                    alpha: M.random()*0.2+(config.line.alpha-n*0.1),
                    speed: config.speed*(1+n*0.5)
                  });
                }
              }
            }
      
            cancelAnimationFrame(timer);
            timer = requestAnimationFrame(animate);
            drawBack();
          };
      
          $(document).ready(function(){
            setCanvasHeight();
            createItem();
          });
          $(window).resize(function(){
            setCanvasHeight();
            createItem();
          });
        }
      })(jQuery);
</script>

<script>
    $(document).ready(function () {
        $('#translator_form').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/translate',
                data: $('#translator_form').serialize(),
                success: function (data) {
                    $('#result').html(data.result);
                },
                error: function (data) {
                    $('#result').html(data.error);
                }
            });
        });
    });
</script>

{% endblock %}