body{background-color: rgb(159,186,205);}

.weather_image{
  font-size: 2000%;
}
.city-text{
  text-align:end;
  font-size: 10em;
}
.temperature{
  font-size: 10em;
}
table, th, td{
  font-size: 2.0em;
  text-align: center;
}
table{
  border-radius: 20px;
  background: #5168A1;
  width: 50vw;
}
.weather_table{
  color: #fff;
  display: flex;
  justify-content: center;
}
.wind_speed{
  font-size: 0.5em;
}