{% extends 'base.html' %}
{{ super() }}

{% block css %}
    <link type="text/css" href="{{ url_for('static', filename='css/translator.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

<form method="post" class="adaptive_direction translator_form">
    <div class="container_column container_item">
        <select name="from_language"class="right_round">
            <option value="English" selected>English</option>
            <option value="Ukrainian">Ukrainian</option>
        </select>
        <textarea name="text" class="text_input" placeholder="Введіть текст який ви хочете перекласти">{{input}}</textarea>
    </div>
    
    <div class="container_column container_item translator_buttons">
        <input type="submit" class="container_column_item button" value="">
    </div>

    <div class="container_column container_item">
        <select name="to_language"class="left_round">
            <option value="English">English</option>
            <option value="Ukrainian" selected>Ukrainian</option>
        </select>
        <textarea name="output" class="text_ouput" readonly>{{output}}</textarea>
    </div>
</form>

{% endblock %}