body{
  background-color: darkgreen;
}

textarea{
  resize: none;
}

.numarea{
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px);
  width: 40vw;
  height: 30vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px 25px 0 0;
  border: 3px solid rgba(255, 255, 255, 0.107);
  outline: none;
  text-align: center;
  font-size: 8em;
  line-height: 27vh;
}


.button{
  border: none;
  background-color: transparent;
  color: #FFF;
  font-family: Inter;
  text-align: center;
  font-size: 7em;
  font-style: normal;
  font-weight: 700;
}

.currency_text{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  appearance: none;
  outline: none;
  border: none;
  border: 3px solid rgba(255, 255, 255, 0.107);
  font-size: 3em;
  width: 40vw;
  text-align: center;
  border-radius: 0 0 25px 25px;

}
select option{
  background-color: darkgreen;
}

.currency_form{
  justify-content: space-between;
  margin-top: 30vh;
}

@media (max-width:767px) {
  .currency_text{
    width: 110%;
    height: 100%;
  }
  .currency_form{
    margin-top: 9vh;
  }
  .filed, .currency_text{
    width: 90vw;
  }
  .numarea{
    width: 90vw;
    font-size: 5em;
  }
}