body{
  background-image: url('../img/bg4.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: rgb(87,169,229);
}

.weather_image{
  font-size: calc(240px + 16 * ((100vw - 320px) / (1280 - 320)));
}
.city_text{
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  font-size: 8vw;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}  

.temperature{
  font-size: 8vw;
}
table, th, td{
  font-size: 4vw;
  text-align: center;
}

table{
  direction:inherit;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.107);
}
.weather_table{
  color: #fff;
  display: flex;
  justify-content: center;
}
.wind_speed{
  font-size: 0.4em;
}


@media (max-width:767px) {
  table, th, td{
    font-size: 10vw;
  }
  table{
    width: 10px;
  }
  .adaptive_direction{
    width: 100%;
  }
  .city_text{
    font-size: 22vw;
  }
  .temperature{
    font-size: 22vw;
  }
}
