<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    {% block css %} {% endblock %}
</head>
<body>

<header>
    <div class="wrap-logo">
    <a href="/" class="logo">WeatherCurrency</a>
    </div>
    <nav>
        <a href="/translator">Перекладач</a>
        <a href="/weather">Погода</a>
        <a href="/currency">Конвертор валют</a>
    </nav>
</header>
{% block body %} {% endblock %}
</body>

</html>