body {
  background: #090d00;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bg canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.translator_form{
  margin-top: 10vh;
  justify-content: space-between;
}

.button{
  border: none;
  background-color: transparent;
  color: #FFF;
  font-family: Inter;
  text-align: center;
  font-size: 7em;
  font-style: normal;
  font-weight: 700;
}
textarea{
  resize: none;
  color: #ffffff;
  z-index: 0;
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.107);
  border-radius: 0 0 25px 25px;
  background-color: rgba(255, 255, 255, 0.301); 
  backdrop-filter: blur(8px);
  font-size: 4em;
  width: 40vw;
  height: 50vh;
}
textarea::placeholder{
  color: #cccccc;
}
select{
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  appearance: none;
  outline: none;
  border: none;
  border: 3px solid rgba(255, 255, 255, 0.107);
  font-size: 3em;
  width: 40vw;
  text-align: center;
  border-radius: 25px 25px 0 0;
}
select option{
  background-color: #385d7f;
}
@media (max-width:767px) {
  textarea, select{
    width: 90vw;
    font-size: 2em;
  }
  .translator_form{
    margin: 10px 0;
  }
}