.index_text{
  text-align: center;
  font-size: 5em;
}

.index_text a {
  text-decoration: none;
  display: inline-block;
  width: 50vh;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 0.4em;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.index_text a:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}